In [1]:
import pandas as pd

In [35]:
dftrain=pd.read_csv("../datasets/train.csv")

In [37]:
dftrain.shape

(891, 12)

In [39]:
dftrain.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [41]:
dftrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [43]:
dftrain.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [45]:
dftrain.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [47]:
dftrain.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
dftest=pd.read_csv("../datasets/test.csv")

In [23]:
dftest.shape

(418, 11)

In [25]:
dftest.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [27]:
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.1+ KB

In [29]:
dftest.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [31]:
dftest.dtypes

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [49]:
#concat based on passengerid
df=pd.merge(dftrain,dftest,on="PassengerId",how="inner")
df.to_csv("completetitanic.csv",index=False)

In [52]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass_x', 'Name_x', 'Sex_x', 'Age_x',
       'SibSp_x', 'Parch_x', 'Ticket_x', 'Fare_x', 'Cabin_x', 'Embarked_x',
       'Pclass_y', 'Name_y', 'Sex_y', 'Age_y', 'SibSp_y', 'Parch_y',
       'Ticket_y', 'Fare_y', 'Cabin_y', 'Embarked_y'],
      dtype='object')

In [54]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass_x       0
Name_x         0
Sex_x          0
Age_x          0
SibSp_x        0
Parch_x        0
Ticket_x       0
Fare_x         0
Cabin_x        0
Embarked_x     0
Pclass_y       0
Name_y         0
Sex_y          0
Age_y          0
SibSp_y        0
Parch_y        0
Ticket_y       0
Fare_y         0
Cabin_y        0
Embarked_y     0
dtype: int64

## column description
- PassengerId-Unique identifier for each passenger.
- **Pclass**	-Passenger class (1st, 2nd, or 3rd). Lower numbers indicate higher class.
- **Name**	-	Full name of the passenger.
- **Sex**	-	Gender of the passenger (male or female).
- **Age**	-	Age of the passenger (in years). Some values might be missing.
- **SibSp**	-	Number of siblings/spouses aboard the Titanic.
- **Parch** -	Number of parents/children aboard the Titanic.
- **Ticket**	-	Ticket number assigned to the passenger. Some may share ticket numbers (families or groups).
- **Fare**	-	Price of the ticket in British pounds (Â£).
- **Cabin**	-	Cabin number where the passenger stayed. Many values are missing.
- **Embarked**	-	Port of embarkation (where the passenger boarded the Titanic):
C = Cherbourg, Q = Queenstown, S = Southampton.

In [60]:
#rename column names in understandable form
df.rename({'Sex':'Gender'},inplace=True)

In [62]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass_x', 'Name_x', 'Sex_x', 'Age_x',
       'SibSp_x', 'Parch_x', 'Ticket_x', 'Fare_x', 'Cabin_x', 'Embarked_x',
       'Pclass_y', 'Name_y', 'Sex_y', 'Age_y', 'SibSp_y', 'Parch_y',
       'Ticket_y', 'Fare_y', 'Cabin_y', 'Embarked_y'],
      dtype='object')